.container {
  background-color: $color-light;
  color: $background-colour-light;
  padding: 0;
  margin-bottom: 15px;
}

.inner-container {
  padding: 20px 0;
}

@media screen and (max-width: 576px){ 
  .btn {
    margin: 10px 5px;
  }

  .earnings {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
  }

  .chart {
    margin-bottom: 5px !important;
  }

  .top-bar-container {
    padding: 0 !important;
  }

  .total-value p{
    align-self: center;
  }
}

@media screen and (max-width: 992px) {
  .links-table .table-component {
    padding-left: 30%;
  }
  
  .table-component {
    padding-bottom: 5px !important;
  }
  
  .table-element-icon {
    text-align: left !important;
    padding: 0;
  }

  .links-icon {
    filter: $img-color-font !important;
  }

  .table-component:hover .links-icon:hover {
    filter: $img-color-brand !important;
  }

  .btn {
    font-size: $header-font-size *0.75;
    padding: 8px 22px;
  }

  h2, h3, a, p {
    font-size: $header-font-size *0.75;  
  }

  .total-value p{
    font-size: $header-font-size *0.9 !important;
  }

  .profile p{
    font-size: $small-font-size 0.8 !important;
  }

  .calendar-container {
    flex-direction: column;;
  }

  .icon {
    width: $header-font-size *0.75;
  }

  .top-bar {
    padding: 5px 0 !important;
  }

  .chat-menu h3 {
    margin-bottom: 5px !important;
  }

  .chat-with-icon {
    display: none;
  }

  .chat-with:hover .chat-with-icon:hover {
    transform: none !important;
    border: solid thin $brand-colour-light;
  }

  ul {
    padding-bottom: 5px;
  }

  li:not(li:first-of-type) {
    padding-left: 35%;
  }

  li:last-of-type {
    padding-left: 0 !important;
  }

}