/* Colors */
$color-light: #f5f5f2;
$color-dark: #333333;
$background-colour-light: #e3e3e3;

$brand-main-color: #f58220;
$brand-colour-light: #ffa200;

$font-colour: #979797;
$link-colour: #56819f;

$img-color-font: invert(79%) sepia(0%) saturate(5986%) hue-rotate(171deg) brightness(75%) contrast(84%);
$img-color-light: invert(95%) sepia(28%) saturate(582%) hue-rotate(297deg) brightness(118%) contrast(92%);
$img-color-brand: invert(78%) sepia(36%) saturate(7416%) hue-rotate(345deg) brightness(98%) contrast(97%);

$circle-green: #04AE00;

/* Fonts */
$logo-font: 'Just Another Hand', cursive;
$paragraph-font: "Open Sans", Helvetica, Arial;


/* Font sizes */
$small-font-size: 16px;
$header-font-size: 18px;


// $font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 600;


// $transition: all .3s;
$radius: 4px;

// $btn-bg: $brand-colour-light;

/* Side menu hamburger */
$hamburger-border-width: 2px;
$hamburger-border-radius: 25%;
$hamburger-height: 40px;
$hamburger-width: 40px;

h2 {
  color: $font-colour;
  text-transform: uppercase;
  font-size: $header-font-size;
  border-bottom: solid medium $background-colour-light;
  padding: 15px;
}

h3 {
  color: $font-colour;
  font-size: $header-font-size;
  font-weight: $font-bold;
}

h4 {
  color: $font-colour;
  font-size: $header-font-size;
  font-weight: $font-normal;
}


p {
  color: $color-dark;
  font-size: $header-font-size;
  font-weight: $font-normal;
  padding: 0 15px;
}

a {
  color: $link-colour;
  font-size: $header-font-size;
  font-weight: $font-normal;
  
  &:hover {
    color: $brand-colour-light;
    text-decoration: none;
  }
}

ul {
  padding-bottom: 40px;
  padding-left: 10px;
  border-bottom: solid medium $font-colour;
  list-style-type: none;
}

li {
  padding: 8px 0;
  border-left: solid 12px $color-dark;

  &:hover {
    border-left: solid 12px $brand-main-color;
    background: lighten($color-dark, $amount: 5);
  }
}




/* Buttons */

.btn {
  font-size: $header-font-size;
  background: $brand-main-color;
  color: $color-light;
  border-color: $brand-main-color;
  border-radius: $radius;
  // transition: $transition;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 12px 30px;
  text-decoration: none;
  text-align: center;
  margin: 10px 30px;

  &:hover {
    // background: lighten($btn-bg, 3%);
    background: $brand-colour-light;
    border-color: $brand-colour-light;
    color: $color-light;
  }
}

// .calendar-btn {
//   background: src='images/icons/refresh.svg' center;
// }


/* Icons */

.icon {
  width:  $header-font-size;
  margin: 0 12px;
  filter: $img-color-font;
}

/* Circle */

.circle {
  height: $header-font-size;
  width: $header-font-size;
  background-color: $brand-main-color;
  border-radius: 50%;
  margin-right: 16px;
}

