.right-pannel {
    background-color: $background-colour-light;
}

// .stay_still_fido {
//     position: fixed;
// }

.inner-container {
    // padding: 10px 150px;
    max-width: 75%;
    margin: auto;

  }