.sidebar-menu {
    background: $colour-dark;
    // position: sticky;
    // top: 20px;
    // position: fixed;
}

.logo {
    position: flex;
    // position: fixed;
}

.logo p {
    color: $color-light;
    font-family: $logo-font;
    font-size: 50px;
    padding-left: 40px;
}

.left-menu {
    // position: fixed;
}

.menu-link {
    color: $font-colour;  
    padding: 18px 0;   
}

.chat-menu {
    // margin-top: 30px;
    // margin-left: 30px;
    // position: fixed;
}

.chat-menu h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: $header-font-size * 0.9;
}

.chat-with {
    display: flex;
    align-items: stretch;
 }

.chat-with-icon {
   margin: 0;
}

.chat-with-person {
    padding: 0;
}


li:hover .menu-link {
    color: $color-light;
    text-decoration: none;
 }

li:hover .side-menu-icon {
    filter: $img-color-light;
}

.chat-with:hover {
    background: lighten($colour-dark, $amount: 5);  
}

.chat-with:hover .chat-with-icon:hover {
    // border-bottom: solid medium $brand-colour-light;
    transform: scale(1.3);
}

.chat-with:hover .chat-with-person {
    color: $brand-colour-light;
}