.sidebar-menu {
    background: $colour-dark;
}

.logo {
    position: flex;
}

.logo p {
    color: $color-light;
    font-family: $logo-font;
    font-size: 50px;
    padding-left: 40px;
}

.menu-link {
    color: $font-colour;  
    padding: 18px 0;   
}

.chat-menu {
    margin-top: 30px;
    margin-left: 30px;

}

.chat-menu h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: $header-font-size * 0.9;
}

.chat-with {
    display: flex;
    align-items: stretch;
 }

.chat-with-icon {
   margin: 0;
}

.chat-with-person {
    padding: 0;
}


li:hover .menu-link {
    color: $color-light;
    text-decoration: none;
 }

li:hover .side-menu-icon {
    filter: $img-color-light;
}

