.sidebar-menu {
    background: $colour-dark;
}

.logo {
    position: flex;
    // margin-right: 20px;
}

.logo p {
    color: $color-light;
    font-family: $logo-font;
    font-size: 50px;
    padding-left: 40px;
}

.logo i {
    color: $font-colour;  
}

.menu-link {
    color: $font-colour;  
   
}

