.table-component {
  display: flex;
  padding: 15px 0;
  border-bottom: solid medium $background-colour-light;
}

.table-element {
  padding: 0;
  text-align: left;
}

.table-element-icon {
  text-align: right;
}