.top-bar {
    display: flex;
    justify-content: flex-end;
    background-color: $color-light;
    margin-bottom: 15px;
    align-items: stretch;
}

.top-bar-container {
    display: flex;
    align-items: stretch;
    padding: 0 10px;
    border-left: solid medium $background-colour-light;
}

.top-bar-container h1{
    font-size: x-large;
}

.top-bar-container p{
    color: $link-colour;
    font-size: large;
    font-weight: $font-bold;
    // align-items: center;
    margin: auto;
}

.top-bar-icon {
    margin: 0 10px;
    // fill: red;
    // color: $font-colour;
}