// .on-top {
//     display: contents;
// }

.top-bar {
    display: flex;
    justify-content: flex-end;
    background-color: $color-light;
    // margin-bottom: 15px;/
    align-items: stretch;
    // position: fixed;
    // right: 0;
    // z-index: 1;
    border-bottom: solid thick $background-colour-light;
}

.top-bar-container {
    display: flex;
    align-items: stretch;
    padding: 0 10px;
    border-left: solid medium $background-colour-light;
}

.top-bar-container h1{
    font-size: $header-font-size * 1.2;
}

.top-bar-container p{
    color: $link-colour;
    font-size: $small-font-size;
    font-weight: $font-semibold;
    margin: auto;
    padding: 0 8px;
}

.top-bar-icon {
    margin: 0 8px;
}